<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" src ="./public/stylesheets/style.css">
    <style src="./public/javascripts/main.js"></style>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Source+Serif+Pro" rel="stylesheet">
</head>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
